<footer class="flex items-center justify-between w-full text-sm py-10">
  <span>Marcos Corrochano Arroyo</span>
  <ul class="flex items-center space-x-6 font-medium">
    <a href="https://discord.gg/mark">Discord</a>
    <a href="https://github.com/moulmark">Github</a>
  </ul>
</footer>
