<div class="flex flex-col items-center justify-center gap-20 w-full py-20">
  <div class="flex items-center text-center gap-3">
    <h3 class="text-7xl font-anton text-pastel">
      THIS IS
      <span class="text-orange-600">MOULMARK</span>
    </h3>
  </div>
</div>
