---
import Blocks from '@components/Blocks.astro'
---

<nav class="flex items-center justify-between">
  <div>
    <h2 class="font-semibold text-xl">moulmark</h2>
    <p class="text-xs">Software Developer & Open Source Enthusiast</p>
  </div>
  <Blocks />
</nav>
