---
import Head from '@components/Head.astro'
import Navbar from '@components/Navbar.astro'
import '@fontsource-variable/jetbrains-mono'
import '@styles/global.css'
---

<!doctype html>
<html lang="en">
  <Head />
  <body class="text-neutral-200 bg-neutral-900">
    <div class="layout">
      <Navbar />
      <slot />
    </div>
  </body>
</html>
