---
import Head from '@components/Head.astro'
import '@fontsource-variable/jetbrains-mono'
import '@styles/global.css'
---

<!doctype html>
<html lang="en">
  <Head />
  <body>
    <div class="m-auto w-[90%] max-w-2xl py-10 h-full">
      <slot />
    </div>
  </body>
</html>
