---
import Head from '@components/Head.astro'
import Navbar from '@components/Navbar.astro'
import '@fontsource-variable/inter'
import '@fontsource/anton'
import '@styles/global.css'

interface Props {
  title?: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <Head {title} />
  <body class="font-inter bg-primary text-gray">
    <div class="m-auto max-w-6xl w-[90%]">
      <Navbar />
      <slot />
    </div>
  </body>
</html>
