---
import Head from '@components/Head.astro'
import '@fontsource-variable/inter'
import '@styles/global.css'
---

<!doctype html>
<html lang="en">
  <Head />
  <body class="m-auto max-w-5xl py-10 w-[90%]">
    <slot />
  </body>
</html>
