---
import Head from '@components/Head.astro'
import '@fontsource-variable/inter'
import '@styles/global.css'
---

<!doctype html>
<html lang="en">
  <Head />
  <body>
    <div class="m-auto max-w-5xl py-10">
      <div class="flex items-start gap-20">
        <div class="flex flex-col space-y-10 w-[30%]">
          <slot name="sidebar" />
        </div>
        <slot name="content" />
      </div>
    </div>
  </body>
</html>
